/* Colour Palette 
darkest navy:    #22223B;
medium navy:     #4A4E69;
mauve:           #9A8C98;
millennial pink: #C9ADA7;
palest pink:     #F2E9E4;
*/

:root{
    --dk-navy: #22223b;
    --md-navy: #4A4E69;
    --mauve: #9A8C98;
    --millenial: #C9ADA7;
    --palest-pink:     #F2E9E4;
    --standard-space: 1rem;
}
/* Typography & Universal Styles */

body {
    color: var(--dk-navy);
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    text-transform: uppercase;
}

ul, li {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: var(--md-navy);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: calc(var(--standard-space) * 3) calc(var(--standard-space));

}
header{
    background-color: var(--md-navy);
    text-align: center;
    padding: var(--standard-space);
    text-transform: uppercase;
}
/* Navigation */

h1, a {
    color: var(--palest-pink);
}

/* Hero Banner */
.banner{
    background-image: url("../img/bg/outdoor-tall.webp");
    /*height: 500px;*/
    height: calc(100vh - 232px);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--palest-pink);
    text-align: center;
    min-height: 172px;
    background-attachment: fixed;
}


.btn {
    background-color: var(--millenial);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

/* Cards */
.cards div{
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: var(--standard-space);
    
}
.cards div:first-of-type{
    background-image: url(../img/cards/exterior-entry.webp);
}
.cards div:nth-of-type(2){
    background-image: url(../img/cards/interior-desk\ \(1\).webp);
}
.cards div:last-of-type{
    background-image: url(../img/cards/kitchen-trinkets.webp);
}
.cards p{
    background-color: var(--md-navy);
    color: var(--palest-pink);
    padding: var(--standard-space);
}

/* Footer Styles */
footer{
    background-color: var(--mauve);
    background-image: url(../img/leaf.svg);
}
.copyright{
    background-color: var(--dk-navy);
    color: var(--palest-pink);
    text-align: center;
    padding: var(--standard-space);
}

/* Media Queries */

@media screen and (min-width: 800px) {
    nav ul{
        display: flex;
        justify-content: space-around;
    }
    .banner{
        background-image: url(../img/bg/outdoor-wide.webp);
        height: calc(100vh - 136px);
    }
    .flex-container{
        display: flex;
        justify-content: space-between;

    }
    .cards div{
        width: calc((100% - var(--standard-space) * 2 ) / 3);
    }
}